// CONTENT
// This file contains all non printing styles other than layout.

$white: #ffffff;
$black: #000000;

$font-trebuchet: ("Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif);

$size-vertical: 2.5em;

@function map($targetMap, $mapList) {
  $mapItem: $targetMap;
  @each $mapPart in $mapList {
    $mapItem: map-get($mapItem, $mapPart);
  }
  @return $mapItem;
}
@function color($colorTree) {
  @return map($color, $colorTree);
}
@mixin group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}